.mainContainer{
    /* background-color: var(--white); */
    background-color: black;
    min-height: 100vh;
    display: flex;
  
    align-items: stretch;
}
.formContainer{
    background-color: var(--white);
    width: 55dvw;
    min-height: 100vh;
    display: flex;
    flex-direction:column;

   
}
.container{
    margin:1rem 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}
.formContainer form{
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:start;
    margin-top: 1rem;
}
.container label{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #000000;
}
.formGroup{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 2rem;
    align-items: center;
}
.container input,
.container textarea,
.container select{
    width: 90%;
    height: 2.1rem;
    border: 2px solid #C2C2C2;
    border-radius: 0.3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #464545;
    padding-left: 1rem;
}
.container input::placeholder,
.container textarea::placeholder,
.container select::placeholder{
    color: #ADADAD;
}
.container textarea{
    height: 4rem;
}
.container select{
    width: 40%;
    height: 2.3rem;
   
}
 .errorMessage{
    color: rgb(209, 30, 30);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
  }
  .imgContainer{
    width: 44dvw;
    min-height: 100%;
    height: auto;
    display: flex;
    background: url('../assets/job.png') no-repeat center center;
    background-size:auto;
    justify-content: center;
    
} 
.formContainer form button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--white);
    background-color: var(--accent);
    border: none;
    border-radius: 0.3rem;
    width: 9rem;
    height:2.8rem ;
    cursor: pointer;
}
.formActions{
    display: flex;
    justify-content: end;
    width: 97%;
    gap: 2rem;

}
.formActions .cancelBtn{
    border: 0.85px solid #CECECE;
    border-radius: 6.5px;
    color: #C2C2C2;
    background-color: var(--white);
}
.imgContainer p{
    margin-top: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--white);
   
  
  }

/* Responsive */
@media (max-width: 1024px) {
    .formContainer{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
     .container {
       width: 90%;
       justify-content: start;
       align-items: start;
       padding-left: 2rem;
     }
     .container h1 {
         font-size: 1.8rem;
     }
     .container button {
       font-size: 1rem;
       height: 2.8rem;
       margin-top: 1rem;
     }
     .imgContainer p{
       font-size: 1.7rem;
     }
   }
   
   @media (max-width: 768px) {
     .imgContainer{
       display:none;
   }
   .formContainer{
       width: 100%;
   }
   .container {
       width: 95%;
       margin: 1rem 3rem;
   }
   .container form{
    width: 90%;
   }
   .formGroup{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:0px;
    width: 100%;
   }
   .container label{
   margin-bottom: 5px;
   }
   .container input,
   .container select,
   .container textarea{
    margin: 0;

   }
    
   }
   @media (max-width: 480px) {
     .imgContainer{
       display:none;
     }
     .formContainer{
       width: 100%;
     }
     .container {
       width: 95%;
       margin: 1rem 3rem;
       display: flex;
       justify-content: center;
       align-items: start;
       padding-left: 4rem;
     }
     
     .container h1 {
         font-size: 1.6rem;
     }
   
     .container input {
         height: 2.3rem;
     }
   
     .container button {
         font-size: 1rem;
         height: 2.8rem;
     }
    
     .formGroup{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:0px;
        width: 100%;
       }
       .container label{
       margin-bottom: 5px;
       }
       .container input,
       .container select,
       .container textarea{
        margin: 0;

    
       } 
     
   }